* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a1fcff98;
    background-image: url(/img/magical-forest-scene-with-glowing-flowers-foliage_14117-684026.jpg);
  }

  body {
    background-repeat: no-repeat;
    background-size: cover;
 }

  .container {
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    color: #16a7a7;
    font-family: monospace;
  }

  h1 {
    font-family: monospace;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-container, .actions {
    margin-bottom: 20px;
  }
  
  input, button {
    font-family: monospace;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #8eafbd;
    border-radius: 10px;
  }

  button {
    background-color: #00705ed8;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #415cd1;
  }

  #resultado {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .result-item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #71d7ff;
    border-radius: 4px;
    background-color: #fafafa;
  }